/* Fond sombre et texte clair */
.stApp {
    background-color: #0f0f0f;
    color: #cfcfcf;
}

/* Titre stylisé */
.main-title {
    font-size: 80px;
    font-weight: 900;
    color: #e63946;
    text-transform: uppercase;
    text-align: center;
    margin-top: -50px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 0px #ffffff;
}

.subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* Cartes de contenu */
.card {
    background-color: #1a1a1a;
    padding: 25px;
    border: 1px solid #333;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

/* Style des citations */
span[data-cite] {
    font-size: 0.8em;
    color: #e63946;
    vertical-align: super;
}
